<%- include('./includes/header.ejs', {css}) %>
<body class="container">
    
    <form action="/experiment" method="GET">
    
        <button type="submit" class="startButton" id="start">Start Experiment</button>
    
    </form>
</body>
